.btn {
  margin: 10px;
  &.table-btn {
    margin: 0px;
    color: #1b75bb;
    border-color: #1b75bb;

    &:hover {
      color: #ffffff;
      background-color: #1b75bb;
      border-color: #1b75bb;
    }
  }
}

.btn-outline-primary {
  //8dc73f
  color: #1b75bb;
  border-color: #1b75bb;

  &:hover {
    color: #ffffff;
    background-color: #1b75bb;
    border-color: #1b75bb;
  }
}

.btn-outline-warning {
  &:hover {
    color: #ffffff;
  }
}

.hide {
  visibility: hidden;
  .btn {
    visibility: visible;
  }
}

.btn-google {
  width: 300px;
  position: relative;
  left: -50px;
  top: -20px;
}

.btn-people {
  width: 300px;
}

.btn-logout {
  width: 300px;
  position: relative;
  top: -10px;
}

.btn-container-home {
  position: relative;
  left: 40px;
  top: 30px;
}

.btn-container-profile {
  text-align: center;
  position: relative;
  top: 15px;
  .btn {
    width: 128px;
  }
}
