.form {
  .form-hello {
    text-align: center;
    font-size: 32px;
    margin-bottom: 10px;
  }

  .edit-form {
    .form-group {
      label {
        font-size: 22px;
        margin-top: 4px;
        margin-bottom: 4px;
      }
    }
  }
}
