.Table {
  width: 100%;
  padding-bottom: 32px;

  th,
  td {
    padding: 15px;
    text-align: left;
  }

  tr:nth-child(even) {
    background-color: #d2e8f9;
  }

  .table-button {
    font-size: 30px;

    &:hover {
      color: #1b75bb;
      text-decoration: none;
    }
  }
}

.input-group {
  .form-control {
    border-color: #1b75bb;
  }
}
